In [109]:
from IPython.display import display, HTML

display(HTML('<p style="color:blue; font-size:40px; font-weight:bold;">7 | PYTHON COLLECTIONS</p>'))

## Week 7 PUBH 1142 Introduction to four types of collections (Lists, Tuples, Dictionaries, and Sets) & Quiz Questions- Afrah Beshir

# **List**

In [1]:
# Make a list of five integers
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [2]:
# Make a list
type([1, 2, 3, 4, 5])

list

In [3]:
# Make a list of five integers & five strings
[1, 2, 3, 4, 5, "one", "two", "three", "four", "five"]

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

In [15]:
# Make a list of five random integers and assign it to the variable my_list
my_list = [9, 1, 4, 2, 9]

In [16]:
# Get the first element of the list
my_list[0]

9

In [17]:
# Get the last element of the list
my_list[-1]

9

In [18]:
# Get the last element of the list
my_list[4]

9

In [19]:
# Get the first three elements of the list
my_list[0:3]

[9, 1, 4]

In [20]:
# Get the first three elements of the list
my_list[:3]

[9, 1, 4]

In [21]:
# Get all elements from index 3
my_list[3:]

[2, 9]

In [22]:
# Get the last three elements of the list
my_list[-3:]

[4, 2, 9]

In [23]:
# Make the change of the first element of the list to 'First
my_list[0] = 'First'
my_list

['First', 1, 4, 2, 9]

In [24]:
# Change the last element of the list to the list ['one', 'two', 'three']
my_list[-1] = ['one', 'two', 'three']
my_list

['First', 1, 4, 2, ['one', 'two', 'three']]

In [25]:
# Give the length of the list
len(my_list)

5

In [26]:
# Get the last element of the list
my_list[-1]

['one', 'two', 'three']

In [27]:
# Get the first element of the last element of the list
my_list[-1][0]

'one'

In [41]:
# Make the list with the elements 10, 11, and 12
my_list.extend([10, 11, 12])
my_list

[10, 11, 'inserted', 7, 10, 11, 12, 10, 11, 12]

In [42]:
# Take the out the last elemnt of the list
my_list.pop()
my_list

[10, 11, 'inserted', 7, 10, 11, 12, 10, 11]

In [43]:
# Append the number 7 to the list
my_list.append(7)
my_list

[10, 11, 'inserted', 7, 10, 11, 12, 10, 11, 7]

In [44]:
# Add the string 'inserted' at index 2
my_list.insert(2, 'inserted')
my_list

[10, 11, 'inserted', 'inserted', 7, 10, 11, 12, 10, 11, 7]

In [45]:
# make two new lists of intergers
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [46]:
# Add the two lists
list1 + list2

[1, 2, 3, 4, 5, 6]

In [47]:
# Repeat list1 three times
list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [48]:
# Determine if the number 5 is in my list1
5 in list1

False

In [49]:
# Make the change of reversing the list
list1.reverse()
list1

[3, 2, 1]

In [50]:
# Make a list of intergers from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
# Create a list that has a string 'I love Python'
list('I love Python')

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [56]:
# Make list stating  'I love python'
list('I love python')

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

**What are the differences between the append, insert, and extend?**

*   Append-Adds a single element to the end of the list.
   Adds one item to the end.

*   Insert(index, value) → Adds an element at a specific index in the list. Adds one item at a specific position

*  Extend(iterable) → Adds multiple elements (from another list, tuple, etc.) to the end of the list.Adds multiple items to the end.

## **Tuples**

In [58]:
# Create a tuple of five integers and assign it to the variable tuple_1
tuple_1 = 2, 4, 5, 7, 'water'
tuple_1

(2, 4, 5, 7, 'water')

In [59]:
# Type of the tuple
type(tuple_1)

tuple

In [60]:
# Create a tuple with the elements 1, 2, 'three', and the list 'Python' and assign it to the variable tuple_2
tuple_2 = (1, 2, 'three', list('Python')) # Use parentheses
tuple_2

(1, 2, 'three', ['P', 'y', 't', 'h', 'o', 'n'])

In [61]:
# Get the first elemnt of tuple_1
tuple_1[0]

2

In [62]:
# Create a tuple with the string elements 'Python', 'R', and 'Julia' and assign it to the variable langauges
languages = ('Python', 'R', 'Julia')
languages

('Python', 'R', 'Julia')

In [63]:
# Assign each element of the tuple to a separate variable, using the variable names one, two, and three
one, two, three = languages

In [64]:
# Retrieve the object in one
one

'Python'

In [65]:
names = ['Mary', 'Anne', 'Rene']
surnames = ['Johnstone', 'Barnes', 'Le Roux']

In [66]:
# Use the zip function to create a list of tuples (going to "zip them together")
list(zip(names, surnames))

[('Mary', 'Johnstone'), ('Anne', 'Barnes'), ('Rene', 'Le Roux')]

In [67]:
# Generate a list of tuples (each with three elements)
data_set = [('Anna', 'Rogers', 33), ('Susan', 'Roberts', 25), ('Rene', 'Du Bois', 28)]

# Unzip the thee element tuples
names, lastnames, ages = zip(*data_set)


*   The star unzips the list

In [68]:
# Return the names
names

('Anna', 'Susan', 'Rene')

In [70]:
# Return the lastnames
lastnames

('Rogers', 'Roberts', 'Du Bois')

In [71]:
# Return the ages
ages

(33, 25, 28)

# **Dictionaries**

*  "Key Value Pairs"

In [87]:
# Generate a dictionary
id345 = {'First Name':'Amy', 'Last Name':'Diaz', 'Age':48, 'Heart Rate':75}

In [83]:
# Return the keys of the dictionary
id345.keys()

dict_keys(['First Name', 'Last Name', 'Age', 'Heart Rate'])

In [88]:
# Return the values of the dictionary
id345.values()

dict_values(['Amy', 'Diaz', 48, 75])

In [89]:
# Return the value for the 'Firt Name' key
id345['First Name']

'Amy'

In [90]:
id345.get('Surname') # No such key

In [91]:
# Generate a dictionary using the dict function
my_dict = dict([(1, 'A'), (2, 'B'), (3,'C'), (4,'D')])

# Return a list of the values of the dictionary
list(my_dict.values())

['A', 'B', 'C', 'D']

# **Sets**

*   Used with curly brackets or the set function
*   Collection of unordered list in unique elements

In [92]:
# Make set with the elements 1, 2, 3, 4, 4, 4, 4, 1
set_1 = {1, 2, 3, 4, 4, 4, 4, 1}
set_1 # Call object and print to the scren

{1, 2, 3, 4}

In [93]:
# Use the set function instead
set_1 = set([1, 2, 3, 4, 4, 4, 4, 1])
set_1

{1, 2, 3, 4}

In [94]:
# Add the element 7 to the set
set_1.add(7)
set_1

{1, 2, 3, 4, 7}

In [95]:
# Remove the element 4 from the set
set_1.remove(4)
set_1

{1, 2, 3, 7}

In [96]:
# First set
set_A = {'a', 'a', 'a', 'b', 'c', 'd', 'e', 'f', 'e', 'a'}
set_A

{'a', 'b', 'c', 'd', 'e', 'f'}

In [97]:
# Second set
set_B = {'a', 'c', 'c', 'f', 'g'}
set_B

{'a', 'c', 'f', 'g'}

In [98]:
# Return the union of the two sets using the union method
set_A.union(set_B)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [99]:
# Return the intersection of the two sets using the intersection method
set_A.intersection(set_B)

{'a', 'c', 'f'}

In [100]:
# Return the union of the two sets using the pipe operator
set_A | set_B

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [101]:
# Return the intersection of the two sets using the & operator
set_A & set_B

{'a', 'c', 'f'}

In [102]:
# Return the difference between the two sets using the difference method
set_A.difference(set_B)

{'b', 'd', 'e'}

In [103]:
# Return the symmetric difference between the two sets using the symmetric_difference method
set_A.symmetric_difference(set_B)

{'b', 'd', 'e', 'g'}

# **List comprehension**

In [ ]:
# First set
set_A = {'a', 'a', 'a', 'b', 'c', 'd', 'e', 'f', 'e', 'a'}
set_A

In [108]:
from IPython.display import display, HTML

display(HTML('<p style="color:blue; font-size:40px; font-weight:bold;">Quiz Questions:</p>'))

# **Questions**:

### **1.** How do you define a list in Python?
my_list = [1, 2, 3, 4]
A list is defined using square brackets [], and elements are separated by commas.

### **2.** How do you access the third element of a Python list named `my_list`?
Use indexing, remembering Python starts at 0.
third_element = my_list[2]

### **3.** How can you add the element `"new_item"` to the end of an existing list named `my_list`?

Use the append() method.
my_list.append("new_item")

### **4.** How do you create a Python tuple with the items `"apple"`, `"banana"`, and `"cherry"`?

Use parentheses () instead of brackets.
my_tuple = ("apple", "banana", "cherry")

### **5.** How do you access the first element of a Python tuple named `my_tuple`?

The same as Same as lists, use indexing.
first_element = my_tuple[0]

### **6.** How do you define a dictionary in Python with keys `"name"`, `"age"` and values `"John Doe"`, `30`?
Use curly brackets {} with key-value pairs.

my_dict = {"name": "John Doe", "age": 30}

### **7.** How can you retrieve the value for the key `"name"` from the dictionary `my_dict`?

Use the key inside square brackets or .get().
name = my_dict["name"]
## Or
name = my_dict.get("name")

### **8.** How can you change the value associated with the key `"age"` in the dictionary `my_dict` to `35`?

Reassign the key's value.

my_dict["age"] = 35

### **9.** How can you add a new key-value pair `"city":"New York"` to the dictionary `my_dict`?

Assign a new key and value.
my_dict["city"] = "New York"

### **10.** How do you create a set in Python with the items `"apple"`, `"banana"`, and `"cherry"`?
Use curly brackets {} like this:
my_set = {"apple", "banana", "cherry"}

### **11.** How do you add the item `"orange"` to an existing set `my_set`?

Use .add()
my_set.add("orange")

### **12.** How do you remove the item `"banana"` from the set `my_set`?

Use .remove() or .discard()
my_set.remove("banana")  # Will raise an error if "banana" isn’t in the set
## Or
my_set.discard("banana")  # Won’t raise an error if "banana" is missing

### **13.** What is the length of a list `my_list` with elements `[1, 2, 3, 4, 5]`?

Use len().
len(my_list)  # Output: 5

### **14.** What will be the result of `my_list * 2` if `my_list` is `[1, 2, 3]`?
It duplicates the list, not multiplies values.
[1, 2, 3] * 2  # Output: [1, 2, 3, 1, 2, 3]

### **15.** What is the result of `set([1,2,2,3,4,4,4,5,5])`?

It removes duplicates since sets store only unique values.
{1, 2, 3, 4, 5}