## 1.Use Python to calculate solutions to the following expressions.

In [1]:
result = 3 * 833 + 75
print(result)

2574

##2.Determine the data type of the output of the code 1+2. and 1+2. Explain why the data types are different.

In [4]:
a = 1 + 2   # Integer addition
b = 1 + 2.0 # Float addition

print(type(a))  # Output: <class 'int'>
print(type(b))  # Output: <class 'float'>

<class 'int'>
<class 'float'>

Reasoning

*   1 + 2 results in an integer, because both operands are integers.
1 + 2.0 results in a float, because one operand is a float (2.0), and Python promotes the result to float.

## 3.Generate a loop that prints n2 for each of the numbers n={1,2,3,4,5}

In [3]:
for n in [1, 2, 3, 4, 5]:
    print(n**2)

1
4
9
16
25

## 4.Create the variable i by assigning the value 1 to it. Create a loop that prints the value of i2 to the screen. Increment the value of i by 1 until the value of i2 exceeds 1000. Print the value assigned to i after the loop has completed. Explain why the solution is i=32, where 322 is larger than 1000

In [2]:
i = 1
while i**2 <= 1000:
    print(i**2)
    i += 1

print(f"Value of i after loop: {i}")

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
Value of i after loop: 32