In [4]:
from IPython.core.display import display, HTML

# Display the text in large, blue font
display(HTML('<h1 style="color:purple; font-size: 36px;">9 | EXPLORATORY DATA ANALYSIS</h1>'))

In [12]:
display(HTML('<h1 style="color:pink; font-size: 30px;">Week 9 Assignment 6 - Afrah Beshir</h1>'))

## 1. How do you import the pandas package in Python?

In [8]:
import pandas as pd

## 2. What function do you use to read a CSV file in pandas?

In [ ]:
df = pd.read_csv("filename.csv")

##3. How do you display the first 5 rows of a DataFrame in pandas?

In [ ]:
df.head()

## 4. How do you calculate the mean of a column named Age in a DataFrame named df?

In [ ]:
df["Age"].mean()

##5. How do you calculate the median of a column named Salary in a DataFrame named df?

In [ ]:
df["Salary"].median()

##6. How do you calculate the standard deviation of a column named Score in a DataFrame named df?

In [ ]:
df["Score"].std()

##7. How do you find the number of missing values in each column of a DataFrame named df?

In [ ]:
df.isnull().sum()

##8. How do you calculate the correlation between two columns, Age and Salary, in a DataFrame named df?

In [ ]:
df["Age"].corr(df["Salary"])

##9. How do you select a subset of a DataFrame df where the column Age is greater than 30?

In [ ]:
df[df["Age"] > 30]

##10. How do you calculate the range (maximum - minimum) of a column named Score in a DataFrame named df?

In [ ]:
df["Score"].max() - df["Score"].min()

##11. How do you group a DataFrame df by a column named Department and calculate the mean of Salary within each group?

In [ ]:
df.groupby("Department")["Salary"].mean()

##12. How do you group a DataFrame df by two columns, Department and Job Title, and count the number of rows within each group?

In [ ]:
df.groupby(["Department", "Job Title"]).size()

##13. How do you use the groupby method to find the maximum Age in each Department in a DataFrame df?

In [ ]:
df.groupby("Department")["Age"].max()

##14. How do you create a cross-tabulation table that shows the frequency count of Department (rows) and Job Title (columns) in a DataFrame df?

In [ ]:
pd.crosstab(df["Department"], df["Job Title"])

## 15.How do you create a cross-tabulation table that shows the mean Salary for each combination of Department (rows) and Job Title (columns) in a DataFrame df?

In [ ]:
pd.crosstab(df["Department"], df["Job Title"], values=df["Salary"], aggfunc="mean")